*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

h2{
    margin-bottom: 10px;
    font-size: 2.5em;
}

.box{
    position: relative;
    width: 600px;
    height: 200px;
    border-bottom: 2px solid #555;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box label{
position: relative;
width: 100%;
height: 33.333%;
border: 2px solid #555;
border-bottom: none;
}

.box label input{
position: relative;
z-index: 10;
appearance: none;
}

.box label i{
position: absolute;
top:0;
left: 0;
width: 100%;
height: 100%;    
background-size: 600px;
}

.box label:nth-child(1) i{
    background-image: url(01.jpg);
    animation: animate 0.9s steps(3) infinite;
}

.box label:nth-child(2) i{
    background-image: url(02.jpg);
    animation: animate 0.6s steps(3) infinite;
}

.box label:nth-child(3) i{
    background-image: url(03.jpg);
    animation: animate 0.5s steps(3) infinite;
}


@keyframes animate{
    0%{background-position: 0px;}
    100%{background-position: 600px;  }
}

.box label input:checked ~ i{
    animation-play-state: paused;
}

.reset{
    margin-top: 40px;
    border: none;
    font-size: 1.25em;
    padding: 10px 25px;
    background:#333;
    color: #fff;
}

.reset:active{
    background: #d63c3c;
    transform: scale(0.95);
}


a{
    text-decoration: none;
    text-align: center;
    position: absolute;
    opacity: 0.5;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    padding: 10px 25px;
    font-size: .8em;
    bottom: 0;
   
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}




@media only screen and (max-width: 720px){
    .box{transform: scale(0.6);
     
    }
    h2{
        font-size: 2em;
    }
}